@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.container{
	width: 90%;
	margin: auto;
}

table {
	width: 100%;
}

mat-form-field{
	width: 100%;
}

button {
	width: 100%;
	margin-bottom: 1rem;
}

h1{
	font-family: 'Roboto Slab';
	width: 100%;
	text-align: center;
}

.edit{
	color: rgb(3, 91, 255)
}

.delete{
	color: red;
}

.filtros{
	display: flex;
	justify-content: space-between;
}

.filtro{
	width: 40%;
}

.enums{
	width: 100%;
}

.status{
	width: 20%;
	margin-left: 1rem;
}

.prioridade{
	width: 15%;
	margin-left: 1rem;
}